@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-shadow: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    color: #333b40;
    font-weight: 600;
}

body{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100vh;
    background-color: #d2d9de;
}
  
form{
    max-width: 500px;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 40px;
    background-color: #f0f3f4;
    
}


#submit{
    border: none;
    border-radius: 5px;
    width: 400px;
    height: 40px;
    cursor: pointer;
    margin-top: 60px;
    margin-left: 27px;
    background: linear-gradient(216deg, #62707b,#557b98);
    color: black;
}

#submit:disabled{
    opacity: 0.7;
    cursor: not-allowed;
}

#mainBut{
    width: 100px;
    margin-top: 100px;
}

#registerBut{
    padding-top: 15px;
}


.block{
    width: 70%;
    height: auto;
    margin-left: 220px;
}
h1{
    font-family: 'Bungee', sans-serif;
    color: #302f2f;
    
}


.btn{
    background-color: #4b565f;
    color: #f0f3f4;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
}
.btn:hover{
    background-color: #627280;
    color: #302f2f;
}

#fone{
    width: 68.5%;
    height: 100vh;
    background-image: url(https://wallpapers.com/images/hd/abstract-blue-background-3840-x-2160-6kvcmea2nwiqmcqp.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;

}
.txt{
    color: #16191c;
    font-size: 40px;
    text-shadow:  #b3bec7 1px 0 15px;
}
.welcome{
    font-size: 80px;
}

.marg{
    margin-left: 120px;
}
#log{
    font-size: 80px;
    margin-left: 80px;
}
@keyframes fadeInWithShadow {
    0% {
        opacity: 0;
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        opacity: 1;
        text-shadow:  #b3bec7 1px 0 15px;
    }
}

.fade-in-shadow {
    animation: fadeInWithShadow 2s ease-in-out;
}